<div id="content" class="py-3 py-lg-6">
   <div class="container">
      <div class="row">
         <!-- Products grid -->
         <div class="col-lg-9 order-lg-2">
            <!-- Products filters -->
            <div class="row">
               <div class="col-lg-6 mb-3 mb-lg-0">
                  <form class="form-inline justify-content-lg-start text-sm">
                     <label class="control-label mr-2">Keyword:</label>
                     <input type="text" class="form-control form-control-sm mr-lg-2" placeholder="ie. Bowls">
                  </form>
               </div>
            </div>
            <hr class="my-4" />
            <div class="row">
               <div class="col-lg-4">
                  <!-- Product 2 -->
                  <div class="card mb-4 product-card overlay-hover">
                     <!-- Hover content -->
                     <div class="overlay-hover-content overlay-op-7">
                        <a href="shop-cart.html" class="btn btn-primary btn-block text-uppercase font-weight-bold mb-3 btn-lg"><i class="fa fa-cart-plus mr-2"></i>
                           Add to Cart</a>
                        <a href="shop-product.html" class="text-white text-sm">View Product Details</a>
                        <a href="#" class="text-white text-sm">Add to Wishlist</a>
                     </div>
                     <!-- Image & price content -->
                     <div class="pos-relative">
                        <img class="card-img-top img-fluid" src="assets/img/shop/shoes-2.jpg" alt="Card image cap">
                        <span class="badge badge-primary product-price-badge pos-absolute pos-t pos-r mt-2 mr-2 persist">$49.99</span>
                     </div>
                     <!-- Content -->
                     <div class="card-body">
                        <small class="text-muted text-uppercase"><span class="text-primary">Womens</span> / shoes</small>
                        <h4 class="card-title">
                    Shoes
                  </h4>
                        <p class="card-text"> <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                           <i class="fa fa-star text-primary"></i> <i class="fa fa-star text-primary"></i>
                           <i class="fa fa-star-o text-primary"></i> </p>
                     </div>
                     <div class="card-footer">
                        <small class="text-muted">129 in stock</small>
                     </div>
                  </div>
               </div>

            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation">
               <ul class="pagination pagination-lg justify-content-center">
                  <li class="page-item">
                     <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span> </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item">
                     <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span> </a>
                  </li>
               </ul>
            </nav>
         </div>
         <!-- Products sidebar -->
         <div class="col-lg-3 order-lg-1">

            <!-- Sections Menu-->
            <ul class="nav nav-section-menu mb-4 py-3">
               <li class="nav-header">Collections</li>
               <li>
                  <a href="#mens" data-toggle="collapse" class="nav-link text-uppercase text-slab first active">
                     Bowls
                     <small class="d-inline-block text-xs text-lowercase">(active)</small>
                     <i class="fa fa-angle-right"></i>
                  </a>
               </li>
               <li>
                  <a href="#mens" data-toggle="collapse" class="nav-link text-uppercase text-slab first">
                     Cups
                     <i class="fa fa-angle-right"></i>
                  </a>
               </li>
            </ul>
            <div class="p-3 overlay overlay-op-5 rounded flex-valign mb-4" data-bg-img="assets/img/shop/promo-truck.jpg"
               data-css='{"background-position":"center bottom"}' data-url="shop-product.html">
               <h4 class="text-white mb-0">
              Free Shipping
            </h4>
               <p class="text-white mb-0">On all orders over $100</p>
               <hr class="hr-lg my-2 w-20 mx-auto hr-primary" />
            </div>

         </div>
      </div>
   </div>
</div>