<div id="content" class="p-0">

   <!-- ======== @Region: #highlighted ======== -->
   <div id="highlighted">
      <div class="slider-wrapper rev_slider_wrapper bg-black" data-page-class="slider-appstrap-theme">
         <div class="rev_slider" data-toggle="slider-rev" data-settings='{"startwidth":1100, "startheight":500, "delay":10000}'>
            <ul>
               <!-- SLIDE 1 -->
               <li class="slide overlay overlay-op-2" data-transition="fadethroughdark"
                  data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"
                  data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="assets/img/shop/beach.jpg"
                  data-rotate="0" data-saveperformance="off" data-title="Shaw Arts" data-mediafilter="earlybird">
                  <!-- MAIN IMAGE -->
                  <img src="{{'assets/img/sa-header-1.jpg' | absolute_url }}" alt="Background image"
                     data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg"
                     data-no-retina />
                  <!-- LAYERS -->
                  <!-- SLIDE 1 Content-->
                  <div class="slide-content container">
                     <!--elements within .slide-content are pushed below navbar on "behind"-->
                     <!-- Layer 1 -->
                     <div class="tp-caption text-grey" data-x="['left','left','left','left']"
                        data-hoffset="['0','0','0','40']" data-y="['bottom','bottom','bottom','bottom']"
                        data-voffset="['140','140','140','140']" data-fontsize="['52','52','52','52']"
                        data-lineheight="['52','52','52','52']" data-width="420" data-height="none"
                        data-whitespace="normal" data-type="text" data-basealign="slide"
                        data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1200,"to":"o:1;","delay":1300,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="left">
                        <span class="font-weight-bold text-uppercase text-white">
                    Shaw Arts
                  </span>
                     </div>
                     <!-- Layer 3 -->
                     <div class="tp-caption text-grey" data-x="['left','left','left','left']"
                        data-hoffset="['0','0','0','40']" data-y="['bottom','bottom','bottom','bottom']"
                        data-voffset="['80','80','80','80']" data-fontsize="['20','20','20','30']"
                        data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                        data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","delay":1400},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']">Wood turnings
                        handmade in collaboration with nature
                     </div>
                     <!-- Layer 3 -->
                     <!-- <div class="tp-caption rs-parallaxlevel-8" data-frames='[{"from":"o:0;sX:3;sY:3;","speed":1500,"to":"o:0.10;sX:3;sY:3;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"to":"x:[100%];","ease":"Power3.easeInOut"}]'
                        data-x="left" data-y="bottom" data-hoffset="0" data-voffset="0" data-width="none"
                        data-height="none" data-type="image" data-basealign="slide"> <i class="fa fa-bullseye icon-25x icon-bg op-1 text-white"></i>
                     </div> -->
                     <!-- Layer 4 -->
                     <!-- <div class="tp-caption tp-resizeme bg-primary-bright" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        data-x="['left','left','left','left']" data-hoffset="['0','0','0','40']"
                        data-y="bottom" data-voffset="120" data-width="355" data-height="4"
                        data-basealign="slide"></div> -->
                  </div>
               </li>
               <!-- SLIDE 2 -->
               <li class="slide overlay overlay-op-2" data-transition="fadethroughdark"
                  data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"
                  data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb=""
                  data-rotate="0" data-saveperformance="off" data-mediafilter="earlybird"
                  data-title="Shaw Arts">
                  <img src="assets/img/slide-dummy.png" style='background-color:#a10f2b'
                     data-lazyload="{{'assets/img/lathe.jpg' | absolute_url }}" alt="Background image"
                     data-bgposition="center center" data-bgfit="cover" class="rev-slidebg"
                     data-no-retina />
                  <!-- SLIDE 1 Content-->
                  <div class="slide-content container">
                     <!--elements within .slide-content are pushed below navbar on "behind"-->
                     <!-- Layer 1 -->
                     <div class="tp-caption text-grey" data-x="['left','left','left','left']"
                        data-hoffset="['0','0','0','40']" data-y="['bottom','bottom','bottom','bottom']"
                        data-voffset="['140','140','140','140']" data-fontsize="['52','52','52','52']"
                        data-lineheight="['52','52','52','52']" data-width="420" data-height="none"
                        data-whitespace="normal" data-type="text" data-basealign="slide"
                        data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1200,"to":"o:1;","delay":1300,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                        data-textAlign="left"> <span class="font-weight-bold text-uppercase text-white">Wood is Nature’s Treasure</span>
                     </div>
                     <!-- Layer 3 -->
                     <div class="tp-caption text-grey" data-x="['left','left','left','left']"
                        data-hoffset="['0','0','0','40']" data-y="['bottom','bottom','bottom','bottom']"
                        data-voffset="['80','80','80','80']" data-fontsize="['20','20','20','30']"
                        data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                        data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","delay":1400},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"><a href="#" class="text-grey">We
                           turn, sand and
                           finish by hand in our workshop</a>
                     </div>
                     <!-- Layer 3 -->
                     <!-- <div class="tp-caption rs-parallaxlevel-8" data-frames='[{"from":"o:0;sX:3;sY:3;","speed":1500,"to":"o:0.20;sX:3;sY:3;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1200,"to":"x:[100%];","ease":"Power3.easeInOut"}]'
                        data-x="left" data-y="bottom" data-hoffset="0" data-voffset="0" data-width="none"
                        data-height="none" data-type="image" data-basealign="slide"> <i class="fa fa-bullseye icon-25x icon-bg op-1 text-white"></i>
                     </div> -->
                     <!-- Layer 4 -->
                     <!-- <div class="tp-caption tp-resizeme bg-primary-bright" data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                        data-x="['left','left','left','left']" data-hoffset="['0','0','0','40']"
                        data-y="bottom" data-voffset="120" data-width="355" data-height="4"
                        data-basealign="slide"></div> -->
                  </div>
               </li>

            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
         </div>
         <!--end of tp-banner-->
      </div>
   </div>

   <div id="promos" class="p-0">
      <div class="container py-4 py-lg-6">
         <div class="row text-center">
            <div class="col-lg-7 d-lg-flex">
               <div class="p-5 py-lg-6 overlay overlay-gradient overlay-op-5 rounded mb-4 mb-lg-0 flex-ew flex-valign"
                  data-bg-img="{{'assets/img/sa-square-1.jpg' | absolute_url }}" data-url="/shop">
                  <h2 class="text-white mb-0">
                    The Shaw Arts Collection
                  </h2>
                  <p class="text-white mb-0">View the entire collection of Shaw Arts works</p>
                  <hr class="hr-lg my-2 w-20 mx-auto hr-primary" />
               </div>
            </div>
            <div class="col-lg-5">
               <div class="p-5 overlay overlay-op-5 rounded mb-4 flex-valign" data-bg-img="{{'assets/img/bar-4.jpg' | absolute_url }}"
                  data-css='{"background-position":"center bottom"}' data-url="/events">
                  <h3 class="text-white mb-0">
                    Upcoming Events
                  </h3>
                  <p class="text-white mb-0">Art shows and events featuring Shaw Arts</p>
                  <hr class="hr-lg my-2 w-20 mx-auto hr-primary" />
               </div>
               <div class="p-5 overlay overlay-op-5 rounded flex-valign" data-bg-img="{{'assets/img/shipping.jpg' | absolute_url }}"
                  data-css='{"background-position":"center bottom"}'>
                  <h3 class="text-white mb-0">
                    Custom Orders
                  </h3>
                  <p class="text-white mb-0">Use the contact form below to inquire about custom
                     work</p>
                  <hr class="hr-lg my-2 w-20 mx-auto hr-primary" />
               </div>
            </div>
         </div>
      </div>
   </div>

</div>