<!-- ======== @Region: #footer ======== -->
<footer id="footer">
   <div class="container">
      <div class="row">

         <div class="col-lg-4">
            <h3 class="text-white text-uppercase text-slab font-weight-bold">
            Shaw<span class="text-primary">Arts</span>
          </h3>
            <p class="text-sm">
               Wood is nature’s treasure: each tree, each grain is unique. Shaw Arts works in
               collaboration with nature, bringing out wood’s hidden beauty while working
               harmoniously with all its imperfections.</p>
            <address>
               <ul class="list-unstyled text-sm">
                  <li>
                     <abbr title="Address"><i class="fa fa-home fa-fw text-white"></i></abbr>
                     Englewood, FL
                  </li>
               </ul>
            </address>
         </div>

         <div class="col-lg-7 offset-lg-1">
            <!-- TODO: contact form -->
         </div>
      </div>

      <hr class="my-4 hr-white op-1" />
      <!--@todo: replace with company copyright details-->
      <div class="subfooter text-sm text-center">
         <p>Site template by <a href="https://fractalstack.com" class="footer-link">FractalStack.com</a> |
            Copyright 2019 &copy; Shaw Arts FL</p>
         <!-- <ul class="list-inline footer-links">
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Contact Us</a></li>
         </ul> -->
      </div>
   </div>
   <a href="#top" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden"
      title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
</footer>