<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper 1.14.6 via CDN, needed for Bootstrap Tooltips & Popovers -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- JS plugins required on all pages NOTE: Additional non-required plugins are loaded ondemand as of AppStrap 2.5 To disable this and load plugin assets manually simple add data-plugins-manual=true to the body tag -->

<!--Custom scripts & AppStrap API integration -->
<script src="{{'/assets/js/custom-script.js' | absolute_url }}"></script>
<!--AppStrap scripts mainly used to trigger libraries/plugins -->
<script src="{{'/assets/js/script.min.js' | absolute_url }}"></script>

{% if page.shop %}
<script src="{{'/assets/js/inventory.js' | absolute_url }}"></script>
{% endif %}